.v-btn {
  text-transform: none!important;
}
// text field error text
.v-application--is-ltr .v-messages {
  text-align: right!important;
}
// input
.v-input {
  .v-input__slot {
    padding: 0 30px!important;
    background: $darkInput!important;
    border-radius: 29px!important;
    input {
      font-family: $proximaReg!important;
      font-style: normal!important;
      font-weight: normal!important;
      font-size: 20px!important;
      line-height: 22px!important;
      &::placeholder {
        font-family: $proximaReg!important;
        font-style: normal!important;
        font-weight: normal!important;
        font-size: 20px!important;
        line-height: 22px!important;
        color: #ffffff!important;
        opacity: 0.3!important;
        mix-blend-mode: normal!important;
      }
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
// animation
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}