$mainBg: #111923;
$mainBlue: #2B64F8;
$mainGreen: #33DF90;
//buttons
$darkBtn: #0D1218;
$blueBtn: #2B64F8;
$greenBtn: #33DF90;
$darkInput: #0D1218;
//fonts
$openSans: 'Open Sans', sans-serif;
$proximaThin: 'Proxima Nova Th'; //100
$proximaLight: 'Proxima Nova Alt Lt'; //300
$proximaReg: 'Proxima Nova Rg'; //400
$proximaBold: 'Proxima Nova B'; //700
$proximaExBold: 'Proxima Nova Th'; //800
$proximaBlack: 'Proxima Nova Bl'; //900
